*{
	font-family: "Î¢ÈíÑÅºÚ";
	padding: 0px;
}
body{
	background-color: #3a424d;
	color: white;
	padding-top: 130px;
}
.introduction{
	text-align: center;
}
.line-info{
	margin-top: 50px;
	font-size: 20px;
	padding-left: 100px !important;
}
.number-of-title{
	font-size: 40px;
}
.tip-title{
	float:left;
}
#pre,#next{
	width: 50px;
	height: 50px;
	background-color:purple;
	color: white;
	cursor: pointer;
	font-size: 40px;
	text-align:center;
	border-radius: 10px;
}

#next:hover{
	color: yellow;
}
#pre:hover{
	color: yellow;
}
#pre{
	margin-left: 20px;
}
#next{
	float: right;
	margin-right: 20px;
}
.check{
	padding-top: 20px;
}
.issue-title{
	padding-top: 50px;
	text-align: center;
	font-size: 40px;
}
.sub-title{
	text-align: center;
	font-size: 20px;
	/*background-color: purple;*/
	border-radius: 5px;
	border: 1px solid white;
	cursor: pointer;
}
.selected{
	color: yellow; 
}
.content{
	font-size: 39px;
	text-align:center;
}

.one-time{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: purple;
	color: yellow;
	padding-top: 15px;
	cursor: pointer;
}

.btn-time{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: purple;
	color: yellow;
	padding-top: 5px;
	cursor: pointer;
}